WWW/demo-data/ws_produkte.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- Concrete workspace "produkte" -->
  <start>
    <!--  The start element can be any of: -->
    <choice>
      <ref name="ws_produkte"/>
      <ref name="nt_baugruppe"/>
      <ref name="nt_motor"/>
      <ref name="nt_motor-ausfuehrung"/>
    </choice>
  </start>
  
  <define name="ws_produkte">
    <element name="workspace">
      <attribute name="type">
        <value type="Name">produkte</value>
      </attribute>
      <zeroOrMore>
        <ref name="nt_baugruppe"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="nt_baugruppe">
    <element name="node">
      <ref name="nt_common_attr"></ref>
      <attribute name="type">
        <value type="Name">baugruppe</value>
      </attribute>
      <zeroOrMore>
        <ref name="nt_motor"/>
      </zeroOrMore>
    </element>
  </define>

  <define name="nt_motor">
    <element name="node">
      <ref name="nt_common_attr"></ref>
    <!-- type definition -->
    <attribute name="type">
      <value type="Name">motor</value>
    </attribute>
    <!-- properties -->
    <ref name="nt_motor_props"></ref>
    <!-- allowed child nodes -->
    <zeroOrMore>
      <ref name="nt_motor-ausfuehrung"/>
    </zeroOrMore>
    </element>
  </define>
  
  <define name="nt_motor_props">
    
    <element name="property">
      <attribute name="name">
        <value>bezeichnung</value>
      </attribute>
      <ref name="vt_string"></ref>
    </element>
    
    <element name="property">
      <attribute name="name">
        <value>gewicht</value>
      </attribute>
      <ref name="vt_num_unit"></ref>
    </element>
    
    <element name="property">
      <attribute name="name">
        <value>key-features</value>
      </attribute>
    </element>
    
    <element name="property">
      <attribute name="name">
        <value>dimensions</value>
      </attribute>
    </element>
    
    <element name="property">
      <attribute name="name">
        <value>Bild</value>
      </attribute>
    </element>
    
  </define>

  <define name="nt_motor-ausfuehrung">
    <element name="node">
      <ref name="nt_common_attr"></ref>
    <attribute name="type">
      <value type="Name">motor-ausfuehrung</value>
    </attribute>
    </element>
  </define>
  
  <define name="vt_string">
    <element name="value">
      <zeroOrMore>
       <element name="slot">
         <ref name="st_common_attr"></ref>
         <text/>
       </element>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="vt_num_unit">
    <element name="value">
      <zeroOrMore>
      <element name="slot">
        <ref name="st_common_attr"></ref>
       <ref name="num_unit"></ref>
      </element>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="vt_width_height_length">
    <element name="value">
      <zeroOrMore>
        <element name="slot">
          <ref name="st_common_attr"></ref>
          <element name="width">
            <ref name="num_unit"></ref>
          </element>
          <element name="height">
            <ref name="num_unit"></ref>
          </element>
          <element name="length">
            <ref name="num_unit"></ref>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="num_unit">
    <element name="num">
      <text/>
    </element>
    <element name="unit">
      <text/>
    </element>
  </define>
  
  <!-- TODO: include as file -->
  
  <!-- node attr -->
  <define name="nt_common_attr">
    <attribute name="id"></attribute>
    <attribute name="name"></attribute>
  </define>
  <!-- property attr -->
  <define name="pt_common_attr">
    <attribute name="name"></attribute>
    <optional>
      <attribute name="inheritable"></attribute>
    </optional>
  </define>
  <!-- value attr -->
  <!-- <define name="vt_common_attr">
    </define>-->
  <!-- slot -->
  <define name="st_common_attr">
    <optional>
      <attribute name="id"></attribute>
    </optional>
    <optional>
      <attribute name="lang"></attribute>
    </optional>
    <optional>
      <attribute name="brand"></attribute>
    </optional>
  </define>
  
  <!-- end include as file -->

</grammar>
